html {
    scroll-behavior: smooth;
}

#dashboard {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    background-color: #A3D5D6;
    border-bottom: 2px solid #86AFB0;
    color: #384A4A;
    font-weight: bolder;
}

.right-side {
    position: relative;
    top: 10%;
    right: 2%;
    margin-left: 30%;
}

/* the to-do section is fixed on the page as you scroll */
section {
    position: fixed;
    text-align: center;
    width: 25%;
    left: 2%;
}

button {
    border: none;
    outline: none;
    padding: 1em;
    justify-content: space-between;
    background-color: #A3D5D6;
    color:#384A4A;
}

button:hover {
    opacity: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button-box {
    position: fixed;
    text-align: center;
    width: 25%;
    left: 2%;
    margin-top: 15vh;
}