html {
    scroll-behavior: smooth;
}

body {
    padding: 0.5em;
    margin: 0;
}

#dashboard {
    background-color: #C4E8D8;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    border-bottom: 2px solid #8DA89C;
    color: #586961;
    text-transform: capitalize;
    font-weight: bolder;
}

section {
    position: relative;
    text-align: center;
    width: 25%;
    left: 2%;
    background: transparent;
}

.right-side {
    position: absolute;
    top: 7.5vh;
    right: 2%;
    margin-left: 30%;
}

.right-side :hover {
    background:  #C4E8D8;
    transition: 0.3s ease-in-out;
}

.content {
    margin: 1em;
    justify-content: center;
    flex: 1 1 0%;
}

.label {
    color: #586961;
    font-weight: normal;
}

#currentDate {
    color: #8DA89C;
    font-weight: bolder;
    
}

input {
    padding: 2rem;
    width: 110vh;
    display:inline-block;
    flex: 1 1 0%;
    border-color: #C5D9D0;
    border-radius: 3.5px;
}